@font-face {
    font-family: "Phosphate";
    src: url('../fonts/phosphate.ttf');
}

body {
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #ffffff;
    border-radius: 12px;
}

.flat-slider.ui-slider-horizontal {
    height: 4px;
    width: 300px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}

.flat-slider .ui-slider-handle {
    width: 8px;
    height: 20px;
    background: #ffb52d;
    border: none;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -4px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 12;
    background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.main-content {
    padding-top: 5em;
}

.modes-h1 {
    color: #fff200;
    letter-spacing: 0px;
    font-size: 2em;
    font-weight: 700;
}

.modes-h2 {
    transition: all 0.1s ease;
    padding: 0.5em 0;
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(250, 250, 250, 0.3);
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.modes-h2:hover {
    color: rgba(250, 250, 250, 0.75);
}

.modes-h3 {
    padding: 0.5em 0;
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(250, 250, 250, 0.3);
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.modes-active {
    color: #fafafa;
}

.modes-active:hover {
    color: #fafafa;
}

.preferences-h2 {
    color: #fafafa;
    text-align: left;
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.pref-active {
    color: #fafafa;
}

.pref-active:hover {
    color: #fafafa;
}

.pref-inactive {
    color: rgba(250, 250, 250, 0.3);
}

.pref-inactive:hover {
    color: rgba(250, 250, 250, 0.75);
}

.pref-default {
    color: #696969;
}

.pref-default:hover {
    color: rgba(250, 250, 250, 0.75);
}

.casual-value {
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 1.2em;
}

.footer {
    transition: all 0.1s ease;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #fff200;
	cursor: pointer;
}

.footer:hover {
	background-color: #61F088;
}

.footer-content {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.75em;
    color: #0CBF9D;
    font-family: "Phosphate";
}

.footer-content-icon {
    font-size: 0.75em;
}
