@import url('modes.css');

@font-face {
    font-family: "Gotham Bold";
    src: url('../fonts/gotham-bold.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body{
    background: rgb(0,190,155); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(0,190,155,1) 0%, rgba(255,226,181,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(0,190,155,1) 0%,rgba(255,226,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(0,190,155,1) 0%,rgba(255,226,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00be9b', endColorstr='#ffe2b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header {
	height: 60px;
	width: 100%;
}

.page_title {
    text-align: center;
    color:white;
}

.welcomeMessage {
    font-family: "Gotham Bold";
    background-color: #E98866;
    margin: 2em;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    color: #FAFAFA;
    display: -webkit-inline-box;
    padding: 1.2em 6em;
}

.uppercase {
    text-transform: uppercase;
}

.infoText {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin: 1em auto;
    font-size: 20px;
}

.loginBtn a {
    transition: all 0.1s ease;
    font-family: 'Gotham Bold', sans-serif;
    display: -webkit-inline-box;
    border: 3px solid #FDE037;
    margin: 3em auto;
    padding: 1em 4em;
    cursor: pointer;
    text-decoration: none;
    color: #FDE037;
}

.loginBtn a:hover {
    background-color: #FDE037;
    color: rgb(255, 255, 255);
}

.loginBtn a:active {
    margin: 3.2em auto;
}

.center {
    text-align: center;
}
