<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
				<div class="welcomeMessage uppercase">welcome!</div>
			</div>
		</div>
		<div class="row">
			<div class="infoText center">Login to spotify to get access the nifty features of <strong>grappian</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
			<div class="loginBtn uppercase"><a href="http://localhost:8080/authorize">Login</a></div>
			</div>
		</div>
