<div ng-controller="LoginController">
    <div class="container main-content">
        <div class="row center">
            <div class="col-xs-12">
                <div class="welcomeMessage">
                    WELCOME!
                </div>
                <div class="infoText">
                    Log in to spotify to get access to the nifty features of <strong>grappian</strong>
                </div>
                <div class="loginBtn">
                    <a href="http://localhost:8080/authorize">
                        LOG IN
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
