<div ng-controller="LoginController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <div class="welcomeMessage uppercase">
                    welcome!
                </div>
                <div class="infoText">
                    Login to spotify to get access to the nifty features of <strong>grappian</strong>
                </div>
                <div class="loginBtn uppercase">
                    <a href="http://localhost:8080/authorize">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
