<div ng-controller="ModesController">
    <div class="container main-content">
        <div class="row center">
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="modes-h1">{{ titles.modes }}</div>
                <div ng-repeat="mode in modes">
                    <div class="modes-h3" >{{ mode }}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-10">
                <div class="modes-h1">{{ titles.preferences }}</div>
                <div class="modes-h2">{{ titles.casual.genre }}</div>
                <div class="casual-value"
                     ng-click="selectGenre($index)"
                     ng-repeat="genre in preferences.casual.genres">
                    {{ genre }}  
                </div>
                <div class="modes-h2">{{ titles.casual.mood }}</div>
                <div class="casual-value" 
                     ng-click="selectMood($index)"
                     ng-repeat="mood in preferences.casual.moods">
                    {{ mood }}  
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" ng-click="submit()">
        <div class="container">
            <div class="footer-content">
                GO
                <div class="glyphicon glyphicon-play footer-content-icon" aria-hidden="true"></div>
            </div>
        </div>
    </footer>
</div>
