<div ng-controller="ModesController">
    <div class="container main-content">
        <div class="row center">

            <!-- modes -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="modes-h1">{{ titles.modes }}</div>
                <div ng-repeat="mode in modes">
                    <div class="modes-h2"
                        ng-model="mode"
                        ng-class="{'modes-active': selectedMode == mode}"
                        ng-click="selectMode($index)">
                        {{ mode }}
                    </div>
                </div>
            </div>

            <!-- preferences -->
            <div class="col-xs-12 col-sm-8 col-md-9 preferences">
                <div class="modes-h1">
                    {{ titles.preferences }}
                </div>

                <!-- casual view -->
                <div id="casual-view" ng-show="selectedMode == modes[0]">
                    <div class="preferences-h2">{{ titles.casual.genre }}</div>
                    <div class="row">
                        <div ng-repeat="genre in casual.preferences.genres">
                            <div class="casual-value col-xs-12 col-sm-6 col-md-4"
                                ng-model="genre"
                                ng-init="preferences.casual.genre=''"
                                ng-class="{
                                    'pref-active': preferences.casual.genre==genre,
                                    'pref-inactive': preferences.casual.genre!=genre &amp;&amp;
                                                     preferences.casual.genre!='',
                                    'pref-default': preferences.casual.genre==''
                                }"
                                ng-click="selectGenre($index, 'casual')">
                                {{ genre }}
                            </div>
                        </div>
                    </div>
                    <div class="preferences-h2">{{ titles.casual.mood }}</div>
                    <div class="row">
                        <div ng-repeat="mood in casual.preferences.moods">
                            <div class="casual-value col-xs-12 col-sm-6 col-md-4"
                                ng-model="mood"
                                ng-init="preferences.casual.mood=''"
                                ng-class="{
                                    'pref-active': preferences.casual.mood==mood,
                                    'pref-inactive': preferences.casual.mood!=mood &amp;&amp;
                                                     preferences.casual.mood!='',
                                    'pref-default': preferences.casual.mood==''
                                }"
                                ng-click="selectMood($index)">
                                {{ mood.name }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- theme view -->
                <div id="theme-view" ng-show="selectedMode == modes[1]">
                    <div class="row">
                        <div ng-repeat="theme in theme.presets">
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="theme-box"
                                    ng-class="{'theme-active': preferences.theme==theme}"
                                    ng-click="selectTheme($index)">
                                    {{ theme.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- expert view -->
                <div id="expert-view" ng-show="selectedMode == modes[2]">

                    <div class="row">
                        <div class="preferences-h2">{{ titles.expert.genre }}</div>
                        <div ng-repeat="genre in expert.preferences.genres">
                            <div class="expert-value col-xs-12 col-sm-6 col-md-4"
                                ng-model="genre"
                                ng-init="preferences.expert.genre=''"
                                ng-class="{
                                    'pref-active': preferences.expert.genre==genre,
                                    'pref-inactive': preferences.expert.genre!=genre &amp;&amp;
                                                     preferences.expert.genre!='',
                                    'pref-default': preferences.expert.genre==''
                                }"
                                ng-click="selectGenre($index, 'expert')">
                                {{ genre }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- key box -->
                        <div class="col-xs-12 col-md-6 expert-box">
                            <div class="preferences-h2">key</div>
                            <div class="row keys center-box">
                                <div class="col-xs-2"
                                    ng-repeat="(key, val) in expert.preferences.presets.key">
                                    <button class="circle-button"
                                        ng-class="{'circle-button-active': preferences.expert.key==val}"
                                        ng-click="preferences.expert.key=val">
                                        {{ key }}
                                    </button>
                                </div>
                            </div>
                        </div> <!-- key box -->

                        <!-- tempo box -->
                        <div class="col-xs-12 col-md-6 expert-box">
                            <div class="preferences-h2">tempo</div>
                            <input class="text-input"
                                type="text"
                                ng-pattern="/^[0-9]*\.?[0-9]+$/"
                                ng-model="preferences.expert.tempo"/>
                        </div> <!-- tempo box -->
                    </div>

                    <div class="row">
                        <!-- scale box -->
                        <div class="col-xs-12 col-md-6 expert-box">
                            <div class="preferences-h2">scale</div>
                            <div class="row scales center-box">
                                <div class="col-xs-6"
                                    ng-repeat="(scale, val) in expert.preferences.presets.mode">
                                    <button class="rounded-button"
                                        ng-class="{'rounded-button-active': preferences.expert.mode==val}"
                                        ng-click="preferences.expert.mode=val">
                                        {{ scale }}
                                    </button>
                                </div>
                            </div>
                        </div> <!-- scale box -->

                        <!-- song length box -->
                        <div class="col-xs-12 col-md-6 expert-box">
                            <div class="preferences-h2">song length</div>
                            <input class="text-input"
                                type="text"
                                ng-pattern="/^[0-9]*\.?[0-9]+$/"
                                ng-model="preferences.expert.duration_ms"/>
                        </div> <!-- song length box -->
                    </div>

                    <div class="expert-box">
                        <div class="preferences-h2">popularity</div>
                        <div class="row center-box">
                            <div class="col-xs-6 col-md-3"
                                ng-repeat="(popularity, val) in expert.preferences.presets.popularity">
                                <button class="rounded-button popularity-button"
                                    ng-class="{'rounded-button-active': preferences.expert.popularity==val}"
                                    ng-click="preferences.expert.popularity=val">
                                    <div ng-repeat="n in range($index+1)" class="glyphicon glyphicon-star footer-content-icon" aria-hidden="true"></div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="float in expert.preferences.floats">
                        <div class="preferences-h2">
                            {{ float }}
                        </div>
                        <div class="flat-slider" ng-attr-id="{{ float }}-slider"></div>
                    </div>

                </div> <!-- expert view -->
            </div> <!-- preferences -->
        </div>
    </div>
    <footer class="footer" ng-click="submit()">
        <div class="container">
            <div class="footer-content">
                GO
                <div class="glyphicon glyphicon-play footer-content-icon" aria-hidden="true"></div>
            </div>
        </div>
    </footer>
</div>
