<div ng-controller="ResultController">
    <div class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <div class="welcomeMessage uppercase">
                    Hello
                </div>
                <div class="infoText center">
                    To check out your new playlist click the button
                </div>
                <div class="loginBtn uppercase">
                    <a href="https://play.spotify.com/user/simonm%C3%A5nsson/playlist/35IFC0gpE0jX9k8nWDlQpm">Click me</a>
                </div>
                <div class="">
                    {{ songs.data }}
                </div>
            </div>
        </div>
    </div>
</div>
