<div ng-controller="ResultController">
    <div class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <!--<div class="welcomeMessage uppercase">
                    Hello
                </div>-->
                <div class="infoResult center">
                    <h1 id="headresult" class="uppercase">Success</h1>
                    <p>An awesome playlist has now been generated for you!</p>

                </div>
                <div class="resultBtn uppercase">
                    <a href="https://play.spotify.com/user/simonm%C3%A5nsson/playlist/35IFC0gpE0jX9k8nWDlQpm">Check it out</a>
                </div>
                <div class="">
                    {{ tracks }}
                </div>
            </div>
        </div>
    </div>
</div>
