<div ng-controller="ResultController">
    <div class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <div class="welcomeMessage uppercase">
                    Hello
                </div>
                <div class="infoText center">
                    To check out your new playlist click the button
                </div>
                <div class="loginBtn uppercase">
                    <a ng-href="{{ playlistLink }}">Click me</a>
                </div>
                <div class="">
                    {{ tracks }}
                </div>
            </div>
        </div>
    </div>
</div>
